@charset "UTF-8";

@import url(mq-telas-pequenas.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --White: #fff;
  --Albescent-White: #f6ebda;
  --Macaroni-Cheese: #ffbd7f;
  --Sepia-Skin: #a0583c;
  --Roman-Coffee: #835e4c;
  --Brown-Tumbleweed: #2f2105;
  --Black: #000;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

/* Reutility Classes */
.button_default_1 {
  background-color: var(--Brown-Tumbleweed);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--Albescent-White);
  padding: 1rem 3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.7s ease;
}

.button_default_1:hover {
  background-color: var(--Macaroni-Cheese);
  color: var(--White);
}

.button_default_1 i {
  background-color: var(--Macaroni-Cheese);
  padding: 5px;
  border-radius: 50%;
  margin-left: 1rem;
}

.btn_default_2 {
  padding: 8px 2rem;
  border: none;
  background-color: var(--Macaroni-Cheese);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--Brown-Tumbleweed);
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.underline-text {
  display: inline-block;
  position: relative;
}
.underline-text::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--Macaroni-Cheese);
}

/* Header */
header {
  position: relative;
  background: url(../hero-coffee-beans.png) no-repeat;
  background-position: top right;
}

header::after {
  content: "";
  background-color: var(--Macaroni-Cheese);
  display: block;
  width: 40%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* Header - Nav */
header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}

header .navigation .logo {
  width: 80px;
}

header .navigation .menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;

  position: relative;
}

header .navigation .menu a {
  text-decoration: none;
  color: var(--Black);
}

header .navigation .menu a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  border-radius: 2px;
  background-color: var(--Roman-Coffee);
  transition: width 0.7s ease;
}

header .navigation .menu a:hover::after {
  width: 100%;
}

/* Header - Right Side */
header .navigation .right-side {
  display: flex;
  align-items: center;
  gap: 4rem;
}

header .navigation .right-side .input {
  position: relative;
}

header .navigation .right-side .input input {
  border-radius: 50px;
  padding: 1rem 0 1rem 4rem;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header .navigation .right-side .input + i {
  padding: 1.2rem;
  background-color: var(--Sepia-Skin);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--Albescent-White);
  border-radius: 50%;
  cursor: pointer;
}

header .navigation .right-side .input i {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* Header - CTA Hero */
header .hero {
  display: flex;
  justify-content: space-around;

  margin-top: 5rem;
}
header .hero .cta-hero {
  color: var(--Brown-Tumbleweed);
  width: 30%;
}
header .hero .cta-hero h1 {
  font-size: clamp(4rem, 2vw, 5rem);
}
header .hero .cta-hero h1 span {
  color: var(--Macaroni-Cheese);
}
header .hero .cta-hero p {
  margin: 2rem 0;
}

/* Header - Image Hero */
header .hero .img-hero img {
  width: 400px;
  max-width: 70%;
}

/* Main - Tabs */
main .tab {
  overflow: hidden;
  background-color: var(--Albescent-White);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main .tab .tablinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  color: var(--Brown-Tumbleweed);

  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;

  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2.2rem;
  transition: 0.7s ease;
}

main .tab .tablinks img {
  width: 100px;
  transition: 0.7s ease;
  padding: 1rem 2rem;
  background-color: var(--Sepia-Skin);
  border-radius: 4px;
  filter: brightness(1.2);
}

main .tab .tablinks:hover img {
  transform: scale(1.05);
}

main .tab .tablinks.active {
  background-color: var(--Sepia-Skin);
  color: var(--White);
}

main .tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Main - Content */
main .content {
  position: relative;
}

main .content i {
  padding: 1rem 1.5rem;
  color: var(--Sepia-Skin);
  font-size: 3rem;

  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--White);

  cursor: pointer;
  z-index: 1;
}

main .content .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 50px;
}

main .content .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 50px;
}

/* Main - Tab Cards */
main .content .tabcontent {
  width: 90%;
  margin: 4rem auto;
}
main .content .tabcontent h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}

main .content .tabcontent .coffees-card {
  display: flex;
  align-items: center;
  gap: 4rem;

  margin-top: 4rem;
}

.card {
  background-color: var(--Roman-Coffee);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  width: 400px;
  height: 560px;
  color: var(--White);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.7s ease;
}

.card:hover {
  transform: scale(1.03);
  background-color: var(--Macaroni-Cheese);
  color: var(--Roman-Coffee);
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .about-coffee p {
  color: var(--Roman-Coffee);
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  transition: transform 0.7s ease-in-out;
}

/* Card - About Coffee */
.card .about-coffee {
  margin: auto;
  padding: 0 2rem;
}

.card .about-coffee h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.card .about-coffee p {
  color: var(--Albescent-White);
}

/* Card - Coffee Price */
.card .coffee-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

.card:hover .coffee-price button {
  background-color: var(--Sepia-Skin);
  color: var(--White);
}

/* Main - Divisor */
main .divisor {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 2rem 6%;
  margin: 8rem 0 4rem;
  background-color: var(--Albescent-White);
}

main .divisor a {
  text-decoration: none;
  color: var(--Black);
  display: inline-block;
  font-weight: 500;
}

main .divisor a::after {
  content: "";
  display: block;

  height: 3px;
  width: 0%;

  border-radius: 2px;
  background-color: var(--Macaroni-Cheese);
  transition: width 0.7s ease;
}

main .divisor a:hover::after {
  width: 100%;
}

/* Main - Special Menu */
main .special-menu {
  margin: 4rem 6%;
}
main .special-menu .menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  margin-top: 4rem;
}
main .special-menu .card {
  height: auto;
  width: 100%;
}

main .special-menu .menu .card .special-menu-content {
  padding: 2rem;
}

main .special-menu .menu .card .coffee-image img {
  height: 200px;
  border-radius: 0;
  transform: scale(1.1);
}

main .special-menu .menu .card:hover .coffee-image img {
  transform: scale(1.2);
}

main .special-menu .card .coffee-price {
  margin: 2rem 0 0;
}

/* Aside */
aside {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--Albescent-White);
  padding: 4rem 0;
}

aside .image-aside img {
  width: 500px;
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Aside - CTA */
aside .cta-aside {
  width: 40%;
}

aside .cta-aside h3 {
  font-size: 3rem;
  font-weight: 600;
}

aside .cta-aside h3 span::after {
  top: 35px;
}

aside .cta-aside .subtitle {
  font-weight: 600;
  margin: 2rem 0 1rem;
}

aside .cta-aside p:not(.subtitle) {
  color: var(--Roman-Coffee);
}

aside .cta-aside button {
  margin: 2rem 0;
  color: var(--Macaroni-Cheese);
  font-weight: 700;
  letter-spacing: 1px;
}

/* Footer */
footer {
  margin: 4rem 5%;
}
/* Footer - Top Footer */
footer .top-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(160, 88, 60, 0.2);
}

footer .top-footer .logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--Brown-Tumbleweed);
}

footer .top-footer .logo img {
  width: 80px;
}

footer .top-footer .social-media {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

footer .top-footer .social-media i {
  color: var(--Brown-Tumbleweed);
  cursor: pointer;
}

/* Footer - Links and Newsletter */
footer .links-newsletter {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

footer .links-newsletter .links nav ul {
  list-style-type: none;
}

footer .links-newsletter .links nav ul li {
  margin-bottom: 1rem;
}

footer .links-newsletter .links nav ul a {
  color: var(--Sepia-Skin);
  text-decoration: none;
  font-weight: 500;
  transition: 0.7s ease;
}

footer .links-newsletter .links nav ul a:hover {
  color: var(--Brown-Tumbleweed);
}

footer .links-newsletter .input {
  position: relative;
}

footer .links-newsletter .input label {
  color: var(--Brown-Tumbleweed);
  font-weight: 700;
}

footer .links-newsletter .input input {
  padding: 1rem;
  border: none;
  background-color: var(--Albescent-White);
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 65%;
}

footer .links-newsletter .input input::placeholder {
  color: var(--Sepia-Skin);
}

footer .links-newsletter .input button {
  border: none;
  background-color: var(--Sepia-Skin);
  border-radius: 0 5px 5px 0;
  color: var(--White);
  font-weight: 300;

  padding: 1rem;
  position: absolute;
  right: -15px;

  cursor: pointer;
}

footer .links-newsletter .input button:hover {
  filter: brightness(1.1);
}
