@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #121212;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fafafa;
  border-radius: 1rem;
  margin: 1rem;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.header {
  background: linear-gradient(120deg, #3acbf0 0%, #8bb0ff 100%);
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.form {
  padding: 1rem;
}

.form-content {
  margin-bottom: 8px;
  padding: 1rem;
  position: relative;
}

.form-content label {
  display: inline-block;
  margin-bottom: 4px;
}

.form-content input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #dfdfdf;
}

.form-content a {
  position: absolute;
  bottom: -8px;
  left: 0;
  /* visibility: hidden; */
}

.form-content button {
  background-color: #00c3ff;
  color: #fff;
}
